.Filter {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgb(112, 141, 33);
}

.Input {
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 16px;
}

@media (prefers-color-scheme: light) {
  .Input {
    border: 1px solid rgb(0, 0, 0);
  }
  .Filter {
    background-color: antiquewhite;
  }
}
