.Contact {
  border: 1px solid black;
  border-radius: 12px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  min-width: 310px;
  background-color: rgb(2, 54, 114);
}

.Name {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Delete {
  border: 1px solid rgb(135, 134, 134);
  width: 75px;
  padding: 7px 3px;
  border-radius: 5px;
  background-color: rgb(193, 221, 101);
  color: black;
}

@media (prefers-color-scheme: light) {
  .Contact {
    background-color: rgb(148, 163, 240);
  }
}
